.top-competitor {
  padding: $space-quarter;
  margin: $space-quarter 0;
  
  &__players {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: $space-quarter 0;
    justify-content: center;
    align-items: center;
  }
  
  &__name {
    padding: $space-quarter;
    color: $color-white;
    font-weight: bold;
    border-bottom: 2px solid $color-white;
    border-top: 2px solid $color-white;
  }
  
  &__vs {
    color: $color-complimentery;
    font-weight: bold;
    font-size: 1.8em;
    @include text-shadow($color: rgba(0,0,0,.4));
  }
}