.competitors {
  padding: $space-quarter;
  margin: $space-quarter 0;
  
  &__players {
    width: 100%;
    margin: calc(calc(24px / 2) / 2) 0;
  }
  
  &__name {
    padding: $space-quarter;
    color: $color-white;
    font-weight: bold;
    border-bottom: 2px solid $color-white;
    border-top: 2px solid $color-white;
  }
  
  &__vs {
    color: $color-complimentery;
    font-weight: bold;
    font-size: 1.8em;
    @include text-shadow($color: rgba(0,0,0,.4));
  }

  &__info {
    &-container{
      width: 100%;
      margin-top: $space-half;
    }
    &-text {
      color: $color-cta;
      font-weight: bold;
    }
    
  }

  &__WDL {
    width: calc(25% - 6px);
    text-align: center;
    display: inline-block;

    &:first-child {
      padding-left: 25%;
    }
  }

  &__comparison {
    margin: $space-quarter 0;
    width: calc(50% - 15px);
    height: 30px;
    background: rgba(255, 255, 255, .3);
  }
}

.padding {
  margin-left: 25%;
}