.header {
  align-items: center;
  flex-direction: row;
  display: flex;
  width: 100%;
  padding: 0 $space-half;
  height: $space-double;
  margin-bottom: $space-half;
  background: lighten($color-main, 2);
  box-shadow: -2px 2px 2px rgba(0,0,0,.8);
  border-top: 1px solid lighten($color-main, 10);
  border-right: 1px solid lighten($color-main, 10);
  z-index: 999;
  
  &__button {
    position: relative;
    width: 30px;
    height: 20px;
    border-top: 3px solid $color-cta;
    border-bottom: 3px solid $color-cta;
    cursor: pointer;    
    
    &:after {
      content: '';
      position: absolute;
      height: 3px;
      width: 75%;
      background: $color-cta;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}