.user-container,
.user{
  width: 100px;
  height: 100px;
  margin: 4vh 12px 12px 12px;
}


.head-to-head {
  &__heading {
    width: 100%;
  }
  &__game {
    width: 40%;
  }
  &__score {
    width: 25%;
    
    &--with-games {
      width: 20%;

      &--margin {
        width: 20%;
        margin-left: 40%; 
      }
    }

    &--margin {
      @extend .head-to-head__score;
      margin-left: 25%;  
    }
  }
}

.top-competitor__quick-info {
  font-size: 13px;
  width: 100%;
  margin-bottom: $space-quarter;
}

.link {
    display: inline-block;  
    border-bottom: 1px solid $color-complimentery;
    box-shadow: inset 0 0 0 transparent;
    padding: 1px 2px 0 2px;
    margin-top: $space-quarter;
    text-decoration: none;
    transition: all .3s ease-in-out;
    color: $color-cta;
    font-size: .7rem;
    cursor: pointer;
    position: relative;
    
    &:hover {
      cursor: pinter;
      color: $color-main;
      font-weight: bold;
      box-shadow: inset 0 -1.6em 0 $color-complimentery;
    }
}

.text-bold {
  font-weight: bold;
}

.align-center {
  align-items: center;
}

.inner-container {
  width: 100%;
  margin-top: $space-quarter;
  padding: $space-quarter;
  border-right: 1px solid lighten($color-main, 12);
  border-top: 1px solid lighten($color-main, 12);
  box-shadow: -2px 2px 2px rgba(0,0,0,.8);
  background: lighten($color-main, 3);
}

.flex {
  display: flex;
  width: 100%;
  margin: $space-quarter 0;
  
  &--row {
    @extend .flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.justify-center {
  justify-content: center;
}

.as-header {
  margin-bottom: -5px;
}